* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #111827;
}.coin-card {
  background: #1f2937;
  color: white;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  transition: 0.3s;
}

.coin-card:hover {
  transform: translateY(-5px);
}

.coin-card img {
  margin-bottom: 10px;
}